.venv/
__pycache__/
.env
.python-version
images/
.vscode/launch.json
data_sqa_format/instruct_captions.json
data_sqa_format/name_map.json
data_sqa_format/pid_splits.json
data_sqa_format/problems.json
data/dev.jsonl
data/test.jsonl
data/train.jsonl
data/m3cot.py
preview/*
private/*
zero_shot_code/*
mmcot_code/*
load_dataset.py
merge.py
