huggingface-hub>=0.4.0
numpy==1.23.2
openai
pandas==1.4.3
transformers>=4.28.0
nltk==3.6.6
evaluate==0.4.0
rich>=13.3.2
contexttimer
decord
einops>=0.4.1
ftfy
iopath
ipython
omegaconf
opencv-python-headless==4.5.5.64
opendatasets
packaging
pandas
plotly
pre-commit
pycocoevalcap
pycocotools
python-magic
scikit-image
sentencepiece
spacy
streamlit
timm==0.4.12
torch
torchvision
tqdm
webdataset
wheel
fire
prettytable